* {
	margin: 0;
	padding: 0;
}
.top_bar {
	background-color: #1D2530;
}
.top{
	width: 100%;
}
.tio_text {
	padding: 7px;
	color: yellow;
}
.logo_text {
	font-family: 'Satisfy', cursive;
	text-shadow: 2px 3px 4px #d3d686;
}
.nav_sec {
	background-color: #293647;
	color: yellow;
}
.navbar {
	color: yellow;
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}
.nav_color {
	font-weight: bolder;
	background-color:#293647;
	border-color:transparent;
	padding: 20px;
	color: yellow;
	margin-bottom: 0;
	padding-right: 0;
	text-align-last: right;
}
.navbar-default .navbar-nav>li>a {
    color: yellow;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
	}

.navbar-default .navbar-nav>li>a:hover{
	color: yellow;
}
.slider {
	background-color: #293647;
}
.slider_section {
	

}
.slider_section img{
	width: 100%;
	height: 500px;
	
}
.tab_section {
	background-color: #293647;
	color: yellow;
	padding-top: 100px;
}
.hover_sechion:hover{
	transition:2s;
	/*opacity: 5;*/
	transform: scale(1.2);
	cursor: pointer;

}
.img-responsive {
	width: 100%;
}
.border {
	
	
	padding-bottom: 50px; 
	margin-top: 40px;
    border-radius: 20px;
    
}
.collaps_sec {
	padding-top: 100px;
	padding-bottom: 100px;
}
.top_footer {
	text-align: center;
	background-color: #293647;
	color: yellow;
	padding-bottom: 30px;
}
.foote {
	margin-top: 100px;
	background-color: rgba(62, 173, 64, 0.26);
	padding: 20px 0;
	color: #8dcc95;
}